<div class="singleCompendiumEditor compendium2moduleDialog">
    <p>{{localize "compendium2module.edit.description"}}</p>
    <hr>
    <form>
        <div class="inputs">
            <label for="id">{{localize "compendium2module.edit.fields.id"}}:</label>
            <input id="id" name="id" type="text" placeholder="generated-compendium-<timestamp>">
            <label for="displayName">{{localize "compendium2module.edit.fields.displayName"}}:</label>
            <input id="displayName" name="displayName" type="text" placeholder="{{this.label}}">
            <label for="author">{{localize "compendium2module.edit.fields.author"}}:</label>
            <input id="author" name="author" type="text" placeholder="{{this.user}}">
            <label for="version">{{localize "compendium2module.edit.fields.version"}}:</label>
            <input id="version" name="version" type="text" placeholder="{{this.version}}">
        </div>
        <hr>
        <div class="buttons">
            <button id="cancel" type="button"><i class="fas fa-ban"></i>{{localize "compendium2module.edit.cancel"}}</button>
            <button type="submit"><i class="fas fa-check"></i>{{localize "compendium2module.edit.submit"}}</button>
        </div>
    </form>
</div>