<div class="singleCompendiumEditor">
    <p>{{localize "compendium2module.edit.description"}}</p>
    <hr>
    <form>
        <div class="inputs">
            <label for="id">{{localize "compendium2module.edit.fields.id"}}:</label>
            <input id="id" name="id" type="text" placeholder="{{this.id}}">
            <label for="internalName">{{localize "compendium2module.edit.fields.internalName"}}:</label>
            <input id="internalName" name="internalName" type="text" placeholder="{{this.internal}}">
            <label for="displayName">{{localize "compendium2module.edit.fields.displayName"}}:</label>
            <input id="displayName" name="displayName" type="text" placeholder="{{this.label}}">
            <label for="author">{{localize "compendium2module.edit.fields.author"}}:</label>
            <input id="author" name="author" type="text" placeholder="{{this.user}}">
        </div>
        <div class="buttons">
            <button id="cancel" type="button"><i class="fas fa-ban"></i>&nbsp;{{localize "compendium2module.edit.cancel"}}</button>
            <button type="submit"><i class="fas fa-check"></i>&nbsp;{{localize "compendium2module.edit.submit"}}</button>
        </div>
    </form>
</div>